
<div id="below-content-blocks">
  <div class="block block-block" id="block-block-2">
    <h2 class="title"></h2>
    <div class="content">Oakfan.com is an independent Disneyland fan site. This website and the Bringing Disneyland Home Video Podcast are in no way affiliated with Disneyland or the Walt Disney Company. All Disney copyrights remain theirs.</p><br class="clear" /></div>
  </div>
</div
</td>
<td class="content-right" valign="top"><img src="/images/theme/content_right_top.gif" width="16" height="209" alt="" /></td>
<td rowspan="3" id="sidebar-right" valign="top">
  <img src="/images/theme/orange.gif" width="161" height="1" alt="" /><br /><div class="block block-block" id="block-block-6">
  <h2 class="title"></h2>
  <div class="content"><!-- Search Google -->
    <center>
      <form method="get" action="http://www.google.com/custom" target="google_window">
        <table bgcolor="#e7aa37">
          <tr><td nowrap="nowrap" valign="top" align="center" height="32">

            <label for="sbi" style="display: none">Enter your search terms</label>
            <input type="text" name="q" size="16" maxlength="255" value="" id="sbi"></input>
          </td></tr>
          <tr><td valign="top" align="center">
            <label for="sbb" style="display: none">Submit search form</label>
            <input type="submit" name="sa" value="Google Search" id="sbb"></input>
            <input type="hidden" name="client" value="pub-9504110948106051"></input>
            <input type="hidden" name="forid" value="1"></input>
            <input type="hidden" name="ie" value="ISO-8859-1"></input>
            <input type="hidden" name="oe" value="ISO-8859-1"></input>
            <input type="hidden" name="safe" value="active"></input>
            <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#11593C;VLC:72179D;AH:center;BGC:FFFFFF;LBGC:336699;ALC:008000;LC:008000;T:000000;GFNT:0000FF;GIMP:0000FF;LH:100;LW:100;L:http://www.oakfan.com/images/BDHpinavatar.jpg;S:http://www.oakfan.com;LP:1;FORID:1"></input>
            <input type="hidden" name="hl" value="en"></input>
          </td></tr></table>
      </form>
    </center>
    <!-- Search Google --><br class="clear" /></div>
</div>
  <div class="block block-block" id="block-block-17">
    <h2 class="title"></h2>
    <div class="content"><div style="text-align: center">
      <b>Get the BDH iPhone App</b>
      <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=333261222&mt=8">
        <img border="5" width="120" src="/images/BDHAppicon.png" alt="Bringing Disneyland Home iPhone App" height="116" /><br /></a>
    </div><br class="clear" /></div>
  </div>
</td>
<td class="right-edge" rowspan="3" valign="top"><img src="/images/theme/right_edge.gif" width="16" height="1" alt="" /></td>
</tr>
<tr>
  <td class="content-left"><img src="/images/theme/content_left_middle.gif" width="16" height="1" alt="" /></td>
  <td class="content-right"><img src="/images/theme/content_right_middle.gif" width="16" height="1" alt="" /></td>
</tr>
<tr>
  <td class="content-left" valign="bottom"><img src="/images/theme/content_left_bottom.gif" width="16" height="209" alt="" /></td>
  <td class="content-right" valign="bottom"><img src="/images/theme/content_right_bottom.gif" width="16" height="209" alt="" /></td>
</tr>
<tr>
  <td valign="bottom"><img src="/images/theme/footer1_01.gif" width="16" height="5" alt="" /></td>
  <td valign="bottom" class="orange"><img src="/images/theme/orange.gif" width="161" height="5" alt="" /></td>
  <td valign="bottom"><img src="/images/theme/footer1_02.gif" width="16" height="5" alt="" /></td>
  <td valign="bottom" id="bottom-edge"><img src="/images/theme/footer1_03.gif" width="573" height="5" alt="" /></td>
  <td valign="bottom"><img src="/images/theme/footer1_04.gif" width="16" height="5" alt="" /></td>
  <td valign="bottom" class="orange"><img src="/images/theme/orange.gif" width="161" height="5" alt="" /></td>
  <td valign="bottom"><img src="/images/theme/footer1_05.gif" width="16" height="5" alt="" /></td>
</tr>
</table>
</td>
</tr>
<tr>
  <td>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="/images/theme/footer2_01.gif" width="20" height="14" alt="" /></td>
        <td width="100%" id="footer">(c) 2006-2015 Oakfan.com - All Rights Reserved.
        </td>
        <td><img src="/images/theme/footer2_03.gif" width="20" height="14" alt="" /></td>
      </tr>
      <tr>
        <td><img src="/images/theme/footer3_01.gif" width="20" height="14" alt="" /></td>
        <td width="100%" id="footer3-middle"><img src="/images/theme/footer3_02.gif" width="919" height="14" alt="" /></td>
        <td><img src="/images/theme/footer3_03.gif" width="20" height="14" alt="" /></td>
      </tr>
    </table>
  </td>
</tr>
</table>
</td></tr></table>
